@mixin setHeightGroup($height) {
 height: $height;
 line-height: $height;
}

@mixin boxShadow($prop...) {
 -webkit-box-shadow: $prop;
 -moz-box-shadow: $prop;
 box-shadow: $prop;
}

@mixin boxSizing($prop) {
 -webkit-box-sizing: $prop;
 -moz-box-sizing: $prop;
 box-sizing: $prop;
}

@mixin borderRadius($prop) {
 -webkit-border-radius: $prop;
 -moz-border-radius: $prop;
 border-radius: $prop;
}

@mixin opacity($prop) {
 opacity: $prop;
 filter: alpha(opacity = $prop * 100 );
}

@mixin transition($prop...) { // ie10+
 -webkit-transition: $prop;
 -moz-transition: $prop;
 transition: $prop;
}

@mixin transform($prop...) {
 -webkit-transform: $prop;
 -moz-transform: $prop;
 -ms-transform: $prop; // ie9
 transform: $prop;
}

@mixin placeholderColor($color, $fontSize: 12px) {
 ::-webkit-input-placeholder {
  color: $color;
  font-size: $fontSize;
 }
 ::-moz-placeholder {
  color: $color;
  font-size: $fontSize;
 }
 :-ms-input-placeholder {
  color: $color;
  font-size: $fontSize;
 }
}

@mixin selection($bgColor, $color) {
 ::-moz-selection {
  background: $bgColor;
  color: $color;
 }
 ::selection {
  background: $bgColor;
  color: $color;
 }
}

$prefixList: '-webkit-' '-moz-' '';
@mixin createAnimation($name, $duration: 1s, $func: ease-in-out, $delay: 0, $count: infinite, $direction: normal, $state: running, $mode: none) { // ie10+
 @each $prefix in $prefixList {
  #{$prefix}animation-name: $name;
  #{$prefix}animation-duration: $duration;
  #{$prefix}animation-timing-function: $func;
  #{$prefix}animation-delay: $delay;
  #{$prefix}animation-iteration-count: $count;
  #{$prefix}animation-direction: $direction;
  #{$prefix}animation-play-state: $state;
  #{$prefix}animation-fill-mode: $mode;
 }
}

@mixin createKeyframes($name) { // ie10+
 @-webkit-keyframes #{$name} {
  @content;
 }
 @-moz-keyframes #{$name} {
  @content;
 }
 @keyframes #{$name} {
  @content;
 }
}

%textOverflowEllipsis {
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}

%borderBox {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}
